.bender/
.vscode/
__pycache__

// Modelsim Fiels
*.wlf
modelsim.ini
*stacktrace*
transcript

gmon.out
RISCV/
sw/applications/build/
sw/applications/MNIST/
sw/applications/snRuntime/CMakeFiles/
sw/applications/snRuntime/CTestTestfile.cmake
sw/applications/demofile2.txt
sw/applications/Makefile
sw/applications/data/.data_gemm.h.swp
snitch.sh
bender
sw/applications/snRuntime/Makefile
sw/applications/snRuntime/cmake_install.cmake
sw/applications/snRuntime/common.ld
hw/system/occamy/test/
hw/system/occamy/addrmap/addrmap.tex
hw/system/occamy/src/
hw/system/occamy/test/
hw/system/occamy/archive
hw/system/occamy/sw/CMakeFiles
hw/system/occamy/sw/*.cmake
hw/system/occamy/sw/Makefile
hw/system/occamy/sw/applications
hw/system/occamy/sw/benchmark
hw/system/occamy/sw/snBLAS
hw/system/occamy/sw/snRuntime
hw/system/occamy/wave
docs/
sw/applications/archive/
sw/applications/src/2560*
sw/applications/src/512*
sw/applications/src/6000*
tmp/
sw/applications/data/*.txt
sw/applications/data/*.csv
sw/applications/*.txt
sw/applications/20_*
sw/applications/src/20_*
sw/applications/src/all*
sw/applications/src/*.bin
sw/applications/src/*binary
sw/applications/src/*bin*
sw/applications/src/*test*
sw/applications/src/CMakeFiles
sw/applications/src/CMakeCache.txt
sw/applications/notebooks
docs/
