.bender/
.vscode/
__pycache__

// Modelsim Fiels
*.wlf
modelsim.ini
*stacktrace*
transcript

gmon.out
RISCV/
sw/applications/build/
sw/applications/MNIST/
sw/applications/snRuntime/CMakeFiles/
sw/applications/snRuntime/CTestTestfile.cmake
sw/applications/demofile2.txt
sw/applications/Makefile
sw/applications/data/.data_gemm.h.swp
snitch.sh
bender
sw/applications/snRuntime/Makefile
sw/applications/snRuntime/cmake_install.cmake
sw/applications/snRuntime/common.ld
hw/system/occamy/test/
hw/system/occamy/test/bootrom.bin
docs/ug/occamy_addrmap.md
hw/system/occamy/addrmap/addrmap.tex
hw/system/occamy/src/
hw/system/occamy/test/
